body {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.name {
  position: relative;
  background-color: brown;
  width: 100%;
  color: aquamarine;
  font-size: 200%;
  font-weight: 600;
  text-align: center;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about .about-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.max-width {
  max-width: 800px;
}
section {
  padding: 100px 2% 0px 2%;
}

.about .about-content {
  display:flexbox;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.about .about-content .left {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
  width: 35%;
}

.about .about-content .right {
  width: 60%;
}

.about .about-content .right .about-text {
  font-size: 115%;
  font-weight: 60;
  margin-bottom: 19px;
}
.about .about-content .right {
  text-align: justify;
}

.about .about-content .left img {
  height: fit-content;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .column {
  height: fit-content;
  width: 60%;
}



@media (max-width: 1104px) {
  .about .about-content .left img {
    height: fit-content;
    width: 400px;
  }
}

.workshop .workshop-content .title {
  position: relative;
  padding-bottom: 5%;
  text-align: center;
  font-size: 100%;
}

.workshop .workshop-content .title::before {
  content: "";

  text-align: center;
  bottom: 60%;
  left: 50%;
  position: absolute;
  width: 570px;
  height: 3px;
  background-color: #111;
  transform: translateX(-50%);
}

.about-text {
  padding: 20px 50px;
  text-align: justify;
}
.contact{  padding: 5px;
  background-color: cyan;}
.contact p {

  text-align: center;
}
