body {
  background-image: url(bg2.jpg);
  animation: bi 2s infinite;
  padding: 10px;
}

@keyframes bi {
  from {
    background-image: url(bg2.jpg);
  }
  to {
    background-image: url(bg1.jpg);
  }
}
.heading h1 {
  background-color: aqua;
  padding: 12px 0px;
  text-align: center;
}

.profile {
  padding-bottom: 100px;
}
.profile_pic {
  width: auto;
  padding: 20px 20px 20px 20px;
}

.profile_pic img {
  margin: 20px;
  float: left;
  max-width: 50%;
  height: auto;
}

.about p {
  padding: 10px 10px 10px 10px;
}

.workshop #workshopheader {
  padding: 12px 0px;
  text-align: center;
}

.contact {
  font-size: large;
  /*color: aliceblue;*/
  text-align: center;
  background-color: rgb(235, 161, 241);
}
